# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff.toml
pyproject.toml
pyrightconfig.json

# Django
db.sqlite3
db.sqlite3-journal
*.log

# Environment
.env
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
